<div data-controller="toast" class="fixed bottom-4 right-4 z-50">
  <div data-toast-target="notification" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded shadow-lg">
    <div class="flex items-center">
      <div class="py-1">
        <svg class="h-6 w-6 text-red-500 mr-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
      </div>
      <div>
        <%= message %>
      </div>
    </div>
  </div>
</div> 