<%# Flash messages %>
<% if flash.any? %>
  <div class="space-y-2">
    <% flash.each do |type, message| %>
      <% next if message.blank? %>
      
      <% flash_class = case type.to_sym
        when :notice, :success
          "bg-green-50 text-green-800 border-green-200"
        when :alert, :error
          "bg-red-50 text-red-800 border-red-200"
        else
          "bg-blue-50 text-blue-800 border-blue-200"
        end %>

      <div class="p-4 rounded-lg border <%= flash_class %> flex items-center justify-between"
           data-controller="flash"
           data-flash-target="message">
        <div class="flex items-center gap-2">
          <% if type.to_sym == :notice || type.to_sym == :success %>
            <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
          <% elsif type.to_sym == :alert || type.to_sym == :error %>
            <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
            </svg>
          <% else %>
            <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
            </svg>
          <% end %>
          <p><%= message %></p>
        </div>
        
        <button type="button" 
                class="text-gray-400 hover:text-gray-500"
                data-action="click->flash#dismiss">
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
