<header data-controller="header" class="bg-header-bg fixed top-0 left-0 right-0 z-10 shadow-header">
  <nav class="container mx-auto px-5 py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <%= link_to root_path, class: "flex items-center text-primary hover:text-primary/80" do %>
          <%= render "shared/logo", class: "w-12 h-12" %>
          <span class="ml-3 text-xl font-semibold">Spellbooks</span>
        <% end %>
        
        <% if content_for?(:page_title) %>
          <h1 class="text-xl font-semibold"><%= content_for(:page_title) %></h1>
        <% end %>
      </div>
    </div>
  </nav>
</header>
