<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>

<body class="bg-background text-foreground">
  <%= render "shared/header", show_back_button: content_for?(:show_back_button) %>

  <main class="container mx-auto mt-28 px-5 max-w-assignment">
    <%= yield %>
  </main>

  <%= render "shared/development_debug" %>
</body>
</html>
