<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>

</head>

<body class="bg-fabric-pattern bg-repeat text-bunker-700">
  <%= render "shared/header" if authenticated? && Current.user %>
  <main class="w-full p-8 mt-20">
    <%= yield %>
  </main>
  <%= render "shared/development_debug" %>
</body>
</html>
